{% extends "base.html" %}
{% block title %}ANASAYFA{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="hero-overlay d-flex align-items-center justify-content-center">
        <div class="text-center text-white">
            <h1 class="display-3 fw-bold">Geleceği İnşa Ediyoruz</h1>
            <p class="lead">Akademik araştırmalar ve 3D jeodezik modelleme ile teknolojinin sınırlarını zorluyoruz.</p>
            <a href="/uygulamalar/" class="btn btn-primary deneme rounded-pill mt-3">Projelerimizi Keşfedin</a>
        </div>
    </div>
</div>

    <div class="container page-content">
        <div class="row">
           <div class="col-12 mt-1">
            <h1>Hoşgeldiniz!</h1>
           </div>
        </div>
    </div>
{% endblock %}